.container {
  display: grid;
  border: 3px solid lightgray;
  grid-template-rows: 100px auto 100px;
  grid-template-columns: 30fr 70fr;
  row-gap: 10px;
  column-gap: 10px;
  /* shorthand syntax: rows / cols */
  /* grid-template: repeat(3, 100px) / repeat(2, 100px); */

  /* horizontal axis */
  /* justify-items: stretch; */

  /* vertical axis */
  /* align-items: stretch; */

  /* center grid horizontally */
  /* justify-content: center; */

  /* center grid  veritically (if room)*/
  /* align-content: center; */

  height: 100vh;
}

.box {
  /* width: 5rem;
  height: 5rem; */
  background: gold;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
