.container {
  border: 3px solid lightgray;
  display: flex;
  height: 90vh;
  flex-wrap: wrap;
  align-content: center;
}

.center-content {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  width: 5rem;
  height: 5rem;
  background: gold;
  margin: 1rem;
}