body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
  transition: transform 0.5s, background-color 0.5s;
  /* transition: transform 0.5s linear 0.25s; */
  /* transition: transform 0.5s ease-in; */
  /* transition: transform 0.5s ease-out; */

  /* https://cubic-bezier.com/ */
  /* transition: transform 1s cubic-bezier(0, 1.34, 0.98, 0.05); */

  &:hover {
    cursor: crosshair;
    transform: rotate(90deg);
    background-color: dodgerblue;
  }
}
