body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: rotate(45deg);
    background-color: tomato;
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-fast {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1440deg);
  }
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
}

.blue {
  background-color: dodgerblue;
}

.silver {
  background-color: silver;
}

.rotate {
  animation: rotate 1s infinite linear;
}

.rotate-really-fast {
  animation: rotate-fast 1s infinite linear;
}

.animation-pop {
  animation-name: pop;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: normal;
  /* animation-delay: 1s; */
}

.animation-reverse {
  animation-direction: reverse;
}
