body {
  margin: 10px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
}

p {
  font-weight: normal;
  font-size: 1rem;
  color: #333;
}
