body {
  /* body styles */

  /* navbar styles (mobile first) */
  & > nav {
    background-color: #000;
    color: #fff;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    & ul {
      padding: 25px 20px;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;

      /* Larger screens */
      @media (min-width: 768px) {
        flex-direction: row-reverse;
      }

      & li {
        display: inline-block;

        &:hover {
          color: aquamarine;
          transform: scale(1.08);
        }

        & a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }

  .nav-item {
    padding: 0 10px;
  }
}
