.container {
  display: grid;
  border: 3px solid lightgray;
  grid-template-rows: 70px auto 70px;
  grid-template-columns: 30fr 70fr;
  /* shorthand syntax: rows / cols */
  /* grid-template: repeat(3, 100px) / repeat(2, 100px); */

  /* row-gap: 10px; */
  /* column-gap: 10px; */
  /* shorthand */
  gap: 10px;

  /* horizontal axis */
  /* justify-items: stretch; */

  /* vertical axis */
  /* align-items: stretch; */

  /* center grid horizontally */
  /* justify-content: center; */

  /* center grid  veritically (if room)*/
  /* align-content: center; */

  height: 95vh;

  /* name grid areas for easier placement 
     of items */
  grid-template-areas:
    "header  header"
    "sidebar main"
    /* ".  footer"; empty footer left col */
    "footer  footer";
}

.box {
  /* width: 5rem;
  height: 5rem; */
  background: gold;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  /* Move box to second col, shoving other boxes */
  /* grid-column: 2; */

  /* stretch from line 1 - 3 (all cols) */
  /* grid-column: 1/3; */

  /* Move box to 2nd row */
  /* grid-row: 2; */

  /* span two rows (lines 2 - 4) */
  /* grid-row: 2/4; */
  grid-area: header;
}

.footer {
  grid-area: footer;
}
