/* 1. Repeated color, us a variable instead */
/* .one {
  background-color: #ffdd36;
}

.two {
  background-color: #ffdd36;
} */

:root {
  --color-primary: #ffdd36;
  --border-size: 2px;
  --border-radius: 10px;
}

.one {
  background-color: var(--color-primary);
}

.two {
  background-color: var(--color-primary);
}
